.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  split.left {
    left:0;
    background-size: cover;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
  }

  .split.right {
    right:0;
   
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    
  }